body{ margin:0; padding:0; background:#ccc; font:normal 11px Arial, Helvetica, sans-serif;}

h1{ font: normal 18px Arial, Helvetica, sans-serif; color:#fff;}
p{ margin:0; padding:0;}

.content{}
.channel ul{ margin:0; padding:0; width:100%;}
.channel ul li{ margin:0; padding:0; width:100%; text-decoration:none !important;}
.channel ul li{  list-style:none; font:normal 16px Arial, Helvetica, sans-serif; background: #333; color:#ccc; margin:0; padding:0; padding:8px 0 8px 8px; border-bottom:1px solid #fff; background: #000 url(../images/nav.png) no-repeat right; text-decoration:none !important;}
.channel ul li:hover{color:#0ba0e3;  background: #2c2c2c url(../images/nav.png) no-repeat right; }

.channel ul a{ font:bold 16px Arial, Helvetica, sans-serif; background: #333; color:#ccc; text-decoration:none }

.tweet ul{ margin:0; padding:0; width:100%;}
.tweet ul li{ margin:0; padding:0; width:100%; text-decoration:none !important;}
.tweet ul li{  list-style:none; font:normal 16px Arial, Helvetica, sans-serif; background: #575757; color:#ccc; margin:0; padding:0; padding:8px 0 8px 8px; border-bottom:1px solid #fff;  text-decoration:none !important;}

.twitter_sec{width:100%; margin:0 auto;}
.twitter_sec h2{font: bold 16px Arial, Helvetica, sans-serif; color:#0daef8; margin:0; padding:0;}
.twitter_sec{ font-size:13px;}
.tagname{ font:12px normal Arial, Helvetica, sans-serif; color:#edac1f;}

.twitter_profile_img{width:40px; height:40px; float:left; margin:0 10px 10px 0;}
.twitter_profile_img img{width:40px; height:40px;}
.twitter_profile_img h2{font: normal 13px Arial, Helvetica, sans-serif; color:#056e9a;}

.sub_head{width:100%; margin:0 auto; background:#000; margin-top:60px; padding:10px 10px 10px 10px;}
.sub_head h1{font: bold 14px Arial, Helvetica, sans-serif; color:#fff; margin:0; padding:0; padding-right:6px;}
.sub_head span{ font:normal 12px Arial, Helvetica, sans-serif; color:#fff;}
#drop_down{position:absolute; right:10px; top:7px; z-index:99999; text-align:right; color:#fff; font-size:15px;}
.extended{display:none; background:#0ba0e3}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

[class*='col-'] {
	float: left;
	padding-right: 20px;
}

[class*='col-']:last-of-type {
	padding-right: 0px;
}

.grid {
	width: 100%;
	max-width: 1140px;
	min-width: 755px;
	margin: 0 auto;
	overflow: hidden;
}

.grid:after {
	content: "";
	display: table;
	clear: both;
}

.grid-pad {
	padding: 20px 0 0px 20px;
}

.grid-pad > [class*='col-']:last-of-type {
	padding-right: 20px;
}

.push-right {
	float: right;
}

/* Content Columns */

.col-1-1 {
	width: 100%;
}
.col-2-3, .col-8-12 {
	width: 66.66%;
}

.col-1-2, .col-6-12 {
	width: 50%;
}

.col-1-3, .col-4-12 {
	width: 33.33%;
}

.col-1-4, .col-3-12 {
	width: 25%;
}

.col-1-5 {
	width: 20%;
}

.col-1-6, .col-2-12 {
	width: 16.667%;
}

.col-1-7 {
	width: 14.28%;
}

.col-1-8 {
	width: 12.5%;
}

.col-1-9 {
	width: 11.1%;
}

.col-1-10 {
	width: 10%;
}

.col-1-11 {
	width: 9.09%;
}

.col-1-12 {
	width: 8.33%
}

/* Layout Columns */

.col-11-12 {
	width: 91.66%
}

.col-10-12 {
	width: 83.333%;
}

.col-9-12 {
	width: 75%;
}

.col-5-12 {
	width: 41.66%;
}

.col-7-12 {
	width: 58.33%
}

@media handheld, only screen and (max-width: 767px) {

	
	.grid {
		width: 100%;
		min-width: 0;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}
	
	[class*='col-'] {
		width: auto;
		float: none;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 10px;
		margin-bottom: 10px;
		padding-left: 20px;
		padding-right: 20px;
	}
}
