<!--==== top main head ====-->
<div class="grid " style="background:#0ba0e3; position:fixed; top:0;">
  <div class="col-1-1">
    <div class="content" style="text-align:center">
      <h1 style="float:left; margin:0 0 0 8px;"><a class='back-button' href="#"><img src="images/back.png"></a></h1>
      <h1>Tweets</h1>
    </div>
  </div>
</div>


<div class="grid sub_head" style="margin-top:60px; position:relative">
</div>  
<!--==== sub head for channel name ====-->
<!--==== tweet ====-->  
<div class="grid grid-pad tweet" style="padding-top:2px;">
  <div class="col-1-1">
    <ul>
      <% _.each(tweets.toJSON(), function(tweet) { %>
        <% if (tweet.hasOwnProperty('tweet_text')) {%>
        <a href='https://twitter.com/<%= tweet.screen_name %>/status/<%= tweet.tweet_id %>'>

          <li>
            <div class="twitter_sec">
              <div class="twitter_profile_img"><img src="<%= tweet.profile_image_url %>"></div>
              <a href='https://twitter.com/<%= tweet.screen_name %>'>
                <h2><%= tweet.name %> <span class="tagname">@<%= tweet.screen_name %></span></h2>
              </a>
              <p> <%= tweet.tweet_text %>  </p>
            </div>
          </li>
        </a>
        <% } %>
      <% }); %>
    </ul>
  </div>
</div>

