<!--==== top main head ====-->
<div class="grid " style="background:#0ba0e3; position:fixed; top:0;">
  <div class="col-1-1">
    <div class="content" style="text-align:center">
      <h1 style="float:left; margin:0 0 0 8px;"><a class='back-button' href="#"><img src="images/back.png"></a></h1>
      <h1>Channel Detail</h1>
    </div>
  </div>
</div>


<!--==== top main head ====-->
<!--==== sub head for channel name ====-->
<div class="grid sub_head" style="margin-top:60px; position:relative">
  <h1 style="float:left"><%= tvChannel.attributes.c_name %></h1>
  <span><%= tvShow.attributes.showName %></span>
  <div>
    <span>Hashtag 
    <% 
      if(typeof tvShow != 'undefined' ) {
        var showHs;
        _.map(JSON.parse(tvShow.attributes.hashTags),function(ht) 
          { %>
        <a href="#hsTweets/<%= ht.hashTag %>">
              <%= ht.hashTag %>
              <% showHs = true%>
        </a>
      <%});
        if(showHs != true) {
          _.map(JSON.parse(tvShow.attributes.c.hashTags),function(ht) 
          { %>
          <a href="#hsTweets/<%= ht.hashTag %>">
                <%= ht.hashTag %>
                <% showHs = true%>
          </a>
        <%});
        }
      }
    else if(typeof tvchannels != 'undefined') {
      alert();
      _.map(JSON.parse(tvchannels.attributes.hashTags),function(ht) 
          { %>
        <a href="#hsTweets/<%= ht.hashTag %>">
              #<%= ht.hashTag %>
        </a>
      <%});
    }
     %>
    </span>
  </div>
  <div id="drop_down">
    <img src="images/drop_down.png">
    <div class='extended'>
      <ul>
        <li>ssss</li>
        <li>ssss</li>
      </ul>
    </div>
  </div>
</div>  
<!--==== sub head for channel name ====-->
<!--==== tweet ====-->  
<div class="grid grid-pad tweet" style="padding-top:2px;">
  <div class="col-1-1">
    <ul>
      <% _.each(tweets.toJSON(), function(tweet) { %>
        <% if (tweet.hasOwnProperty('text')) {%>
        <a href='https://twitter.com/<%= tweet.from_user %>/status/<%= tweet.id %>'>
          <li>
              <div class="twitter_sec">
                <div class="twitter_profile_img"><img src="<%= tweet.profile_image_url %>"></div>
                <a href='https://twitter.com/<%= tweet.from_user %>'>

                  <h2><%= tweet.from_user_name %> <span class="tagname">@<%= tweet.from_user %></span></h2>
                </a>
                <p> <%= tweet.text %>  </p>
              </div>
          </li>
        </a>
        <% } %>
      <% }); %>
    </ul>
  </div>
</div>