<div class="grid grid-pad channel" style="margin-top:60px">
	<div class="col-1-1" style="margin:0 auto; text-align:center">
		<%
		%>
			<% _.each(tvChannels, function(tvChannel) { %>
				<a href="#tvChannel/<%= tvChannel.c_id %>"><img src="<%= imgMap[ tvChannel.c_id]%>"></a>
			<% }); %>
	</div>
</div>
<!--==== channel list ====-->